.root {
  font-size: 20px; 
  
}

.App {
  display: flex; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.game-area {
  position: relative;
  height: 30rem;
  width: 48rem;
  border: solid black 2px;  
  overflow: hidden;
}

.man-container {  
  position: absolute;
  bottom: 0;
  height: 6.5rem;
  width: 4rem;
  overflow: hidden;
  transition: left 0.1s linear;
}

.man { 
  position: absolute;
  height: 100%;  
  top: 0;  
}

.man.left {
  transform: scale(-1, 1);
  right: 0;
}

.man.run.right {  
  animation: running-right-man 0.4s infinite steps(5); 
}

.man.run.left {  
  animation: running-left-man 0.4s infinite steps(5);
}


@keyframes running-right-man {
  to {transform: translateX(-20rem);}  
} 

@keyframes running-left-man {
  to {transform: translateX(20rem) scale(-1, 1);}  
} 

.falling-thing {
  position: absolute;
  width: 3rem; 
  transition: top 0.3s linear;
 
}

.falling-thing>img {
  width: 100%;

}
